.outputResult {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(41, 187, 36);
  height: 3rem;
  margin: 0;
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 12rem;
}

.calcButtons {
  margin: 0.1rem;
  cursor: pointer;
}

.calcButtons:nth-child(17n) {
  grid-column: 1 / span 2;
}

.calcButtons:nth-child(4n) {
  background-color: #f5913e;
}

.calcButtons:nth-child(19) {
  background-color: #f5913e;
}

.quoteContainer {
  display: flex;
  width: 70%;
  margin: auto;
  flex-direction: column;
  border: solid 0.1rem red;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.quoteAuthor {
  font-weight: 900;
}

h2 {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 3rem;
}

.navItemsContainer {
  display: flex;
  align-items: center;
}

.navItems {
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

.navItems:hover {
  transform: scale(1.1);
}

.homeContainer {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.homeImageCont {
  width: 50%;
  margin: auto;
}

.calculatorSection {
  display: flex;
  justify-content: space-between;
  margin: 3rem 3rem 0 3rem;
}

.calculator {
  width: 35rem;
  border: solid rgb(102, 221, 5) 0.2rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
}

h3 {
  font-size: 2rem;
}
