.calculator {
  width: 20rem;
  margin-top: 50%;
}

.outputResult {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(153, 0, 255);
  height: 3rem;
  margin: 0;
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 12rem;
}

.ceroBotBTNContainer {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  height: 3rem;
}

.calcButtons {
  margin: 0.1rem;
  cursor: pointer;
}

.simpleMath {
  background-color: rgb(153, 0, 255);
}
