body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-image: url(./84261.jpg);
  background-size: cover;
  color: goldenrod;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  width: 100%;
}
