body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-size: cover;
  color: goldenrod;
  background-color: rgba(4, 100, 4, 0.788);
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  width: 100%;
}
